<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/common/header.css}" rel="stylesheet">
    <title>アカウント詳細ページ</title>
</head>
<body>
    <div id="parent" th:include="/common/header"></div>
    <h1>アカウント詳細</h1>
    <table>
        <thead>
            <tr>
                <th>名前</th>
                <th>年齢</th>
            </tr>
        </thead>
        <tbody>
            <td th:text="${account.name}"></td>
            <td th:text="${account.age}"></td>
        </tbody>
    </table>
</body>
</html>